.DS_Store
/.bundle
/.vagrant
Gemfile.lock
#
/public/photos
#
/log/*.log
/log/mongrel_debug
/log/*.pid

#
/solr/*
/vendor/plugins/acts_as_solr/solr/solr/data/*
/vendor/plugins/acts_as_solr/solr/logs/*
/vendor/plugins/acts_as_solr/solr/tmp/*
/tmp/*

/tmp/pids/*

/db/schema.rb
