<p>Hello, <%= @user_name %></p>

<p>Discover recipes you can make with the ingredients you've got.</p>

<p><strong>Get Started</strong></p>

<p>Stock your pantry: <%= @pantry_url %><br />
Make a grocery list: <%= @grocery_list_url %><br />
Add your favorite recipe: http://itsripe.com/recipes/new
</p>

<p>We're currently in beta and would love your feedback.<br />
Check out our support community at http://getsatisfaction.com/itsripe</p>

<p>Thanks for signing up,</p>

<p>- Ted Grubb<br />
http://itsripe.com</p>
