.sidebar
  %h2 Categories
  .pod
    = partial 'layouts/common/category_nav'
  =partial "recipes/ads/adsense_300x250"
.main
  = partial '/layouts/common/ingredients_nav'
  .catalog
    = render :partial => 'ingredient', :collection => @ingredients
    = will_paginate @ingredients