<div class="main">
  <h1>New Ingredient</h1>

  <%= error_messages_for :ingredient %>

  <% form_for(@ingredient, :html => {:multipart => true }) do |f| %>
    <%= render :partial => "form", :locals => {:ingredient => @ingredient} %>
    <div class="row">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>