#footer
  .content.clearfix
    .copy-row
      .copy
        &copy; 2009 
        %strong It's Ripe
      .address
        3231 Mission Street
        %br
        San Francisco, CA 94110
      =# link_to "About", about_path
      =# link_to "Contact", contact_path
      =# link_to "Terms", terms_path
      =# link_to "Ask a question", "http://getsatisfaction.com/itsripe/recently_active/question", :target => "_blank"
      =# link_to "Report a problem", "http://getsatisfaction.com/itsripe/recently_active/problem", :target => "_blank"
      =# link_to "Share an idea", "http://getsatisfaction.com/itsripe/recently_active/idea", :target => "_blank"
      
