<p>Hi,</p>

<p><%= @sender_name %> invited you to beta test a new kind of recipe site called It's Ripe!</p>

<p>It's Ripe is designed to help you discover new recipes based on the ingredients you have.</p>

<p>Here's how it works:</p>

<ul>
  <li>Keep track of your ingredients in a virtual pantry.</li>
  <li>Create grocery lists to help keep your pantry stocked.</li>
  <li>Get recipe recommendations based on what you've added.</li>
  <li>Add more ingredients to keep getting better recommendations.</li>
  <li>You can add your favorite recipes or pick from recipes added by the community.</li>
</ul>

<p>What can you make?<br />
<%= @signup_url %></p>

<p>Ted Grubb<br />
Executive Chef<br />
ted@itsripe.com</p>