<div id="banner_ad_unit">
  <% if rand(2) == 1 %>
    <div class="banner">
      <script type="text/javascript"><!--
      google_ad_client = "pub-4658622229424454";
      /* Ingredient banner 728x90 */
      google_ad_slot = "7706351623";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  <% else %>
  <script type="text/javascript" language="javascript" src="http://www.kqzyfj.com/placeholder-3656199?target=_top&mouseover=N"></script>
  <% end %>
</div>