.advertisement{:style => "text-align:center"}
  = link_to "<img src=\"http://www.tqlkg.com/image-3204366-10474556\" alt=\"Free Delivery on your First order\" />", "http://www.kqzyfj.com/click-3204366-10474556"
  %br
  Advertisement